.canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.videoBlock {
  clear: both;
  display: block;
  transform: rotateY(180deg);
}

.button {
  width: fit-content;
}

.subtitles {
  border: 1px solid #ccc;
  padding: 1rem;
}

.toggle-landmarks {
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 25px;
  border-radius: var(--bulma-box-radius);
  padding: 5px;
  cursor: pointer;
}

.enable-webcam {
  border: none;
  box-shadow: none;
  transition: transform 0.2s ease-in-out;
  &:hover {
    background: none;
    transform: scale(1.1);
  }
}
