<div class="columns">
  <div class="column">
    <div class="box is-relative is-flex is-align-content-center is-justify-content-center">
      <button title="Enable webcam" class="button enable-webcam" (click)="enableCam()" [ngClass]="webcamRunning || !mediapipeInitialised ? 'is-hidden' : ''">
        <svg height="64px" width="64px" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">
          <g>
            <g fill="#231F20">
              <path d="m354.2,247.4l-135.1-92.4c-4.2-3.1-15.4-3.1-16.3,8.6v184.8c1,11.7 12.4,11.9 16.3,8.6l135.1-92.4c3.5-2.1 8.3-10.7 0-17.2zm-130.5,81.3v-145.4l106.1,72.7-106.1,72.7z"/>
              <path d="M256,11C120.9,11,11,120.9,11,256s109.9,245,245,245s245-109.9,245-245S391.1,11,256,11z M256,480.1    C132.4,480.1,31.9,379.6,31.9,256S132.4,31.9,256,31.9S480.1,132.4,480.1,256S379.6,480.1,256,480.1z"/>
            </g>
          </g>
        </svg>
      </button>
      <canvas #outputCanvas class="canvas" [class.is-hidden]="!webcamRunning"></canvas>
      <video class="videoBlock" #webcam autoplay playsinline [class.is-hidden]="!webcamRunning"></video>
      <div class="is-flex video-controls">
        <button class="button toggle-landmarks" (click)="drawLandmarksOnCamera = !drawLandmarksOnCamera"  [class.is-hidden]="!webcamRunning">
          <i class="is-align-content-center is-flex" [title]="drawLandmarksOnCamera ? 'Hide landmarks' : 'Show landmarks'">
            @if (!drawLandmarksOnCamera) {
            <svg width="32px" height="32px" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.5857,6.5859A1.9865,1.9865,0,0,0,23.1714,6H16V2H14V6H6A2.0025,2.0025,0,0,0,4,8v6a2.0025,2.0025,0,0,0,2,2h8V30h2V16h7.1714a1.9865,1.9865,0,0,0,1.4143-.5859L29,11ZM23.1714,14H6V8H23.1716l3,3Z"/>
            </svg>
            } @else {
              <svg
                width="32px"
                height="32px"
                viewBox="0 0 32 32"
                id="icon"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M 24.5857,6.5859 A 1.9865,1.9865 0 0 0 23.1714,6 H 16 V 2 H 14 V 6 H 6 A 2.0025,2.0025 0 0 0 4,8 v 6 a 2.0025,2.0025 0 0 0 2,2 h 8 v 14 h 2 V 16 h 7.1714 a 1.9865,1.9865 0 0 0 1.4143,-0.5859 L 29,11 Z M 23.1714,14 H 6 V 8 h 17.1716 l 3,3 z"
                  id="path1" />
                <path
                  style="display:inline;fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1.6;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
                  d="M 3.6923077,1.7692308 29.230769,30.692308"
                  id="path2" />
              </svg>
            }
          </i>
        </button>
        <button class="button toggle-camera" (click)="toggleCamera()" title="Toggle camera"  [class.is-hidden]="!webcamRunning">
          <i class="is-align-content-center is-flex">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" width="32px" height="32px"><path d="M 16 4 C 10.886719 4 6.617188 7.160156 4.875 11.625 L 6.71875 12.375 C 8.175781 8.640625 11.710938 6 16 6 C 19.242188 6 22.132813 7.589844 23.9375 10 L 20 10 L 20 12 L 27 12 L 27 5 L 25 5 L 25 8.09375 C 22.808594 5.582031 19.570313 4 16 4 Z M 25.28125 19.625 C 23.824219 23.359375 20.289063 26 16 26 C 12.722656 26 9.84375 24.386719 8.03125 22 L 12 22 L 12 20 L 5 20 L 5 27 L 7 27 L 7 23.90625 C 9.1875 26.386719 12.394531 28 16 28 C 21.113281 28 25.382813 24.839844 27.125 20.375 Z"/></svg>
          </i>
        </button>
      </div>
    </div>
  </div>
</div>
