<div class="columns">
  <div class="column">
    <div class="box is-block is-relative">
      <canvas #outputCanvas class="canvas"></canvas>
      <video class="videoBlock" #webcam autoplay playsinline></video>
      <button class="is-flex is-align-content-center button toggle-landmarks" (click)="drawLandmarksOnCamera = !drawLandmarksOnCamera">
        <i class="is-align-content-center is-flex">
          @if (!drawLandmarksOnCamera) {
          <svg width="32px" height="32px" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg">
            <path d="M24.5857,6.5859A1.9865,1.9865,0,0,0,23.1714,6H16V2H14V6H6A2.0025,2.0025,0,0,0,4,8v6a2.0025,2.0025,0,0,0,2,2h8V30h2V16h7.1714a1.9865,1.9865,0,0,0,1.4143-.5859L29,11ZM23.1714,14H6V8H23.1716l3,3Z"/>
          </svg>
          } @else {
            <svg
              width="32px"
              height="32px"
              viewBox="0 0 32 32"
              id="icon"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M 24.5857,6.5859 A 1.9865,1.9865 0 0 0 23.1714,6 H 16 V 2 H 14 V 6 H 6 A 2.0025,2.0025 0 0 0 4,8 v 6 a 2.0025,2.0025 0 0 0 2,2 h 8 v 14 h 2 V 16 h 7.1714 a 1.9865,1.9865 0 0 0 1.4143,-0.5859 L 29,11 Z M 23.1714,14 H 6 V 8 h 17.1716 l 3,3 z"
                id="path1" />
              <path
                style="display:inline;fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:1.6;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
                d="M 3.6923077,1.7692308 29.230769,30.692308"
                id="path2" />
            </svg>
          }
        </i>
      </button>
    </div>
    <button class="button" (click)="enableCam()" [ngClass]="webcamRunning ? 'is-hidden' : ''">LOS</button>
  </div>
</div>
